  body {
    background-color: lightgrey;
    color: darkblue;
    text-align: center;
  } 
  input, textarea {
    display: block;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid grey;
    resize: none;
  }
  section {
    border: 1px solid;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
    max-width: 50%;    
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .btn {
    cursor: pointer;
    color: darkred;
    font-size: 20px;
    width: 20%;
    line-height: 20px;
    padding: 20px;
  }

  .btn:hover {
    background-color: lightgrey;
    border: none;
    color: darkred;
  }

  .rounded-corners {
    border-radius: 10px;
  }
