<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<section>
<h1> Welcome to <a href="/">Sinatra TODO List Manager.</a></h1>
<% if params[:num].to_i > 10 %>
"You entered a number greater than 10"
<% else %>
"Less than 10"
<% end %>
</section>

<section class='rounded-corners'>
  <h3>Add new item</h3>
  <form method='post' action='/add'>
    <input type='text' name='name' placeholder='Task name?'>
    <textarea name='description' placeholder='Task description'></textarea>
    <button type='submit' class='btn'>Add item</button>
  </form>
</section>

<%= erb :tasks_list, locals: {tasks: tasks} %>

</body>
</html>